
*{
    padding: 0;
    margin: 0;
    }
    
#carouselExampleIndicators{
    width: 70%;  
}
.carousel-caption
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body
{
        background-image: linear-gradient(green, white);
}
#form
{
    background-image: linear-gradient(rgb(51, 153, 255), white);
    
}
#form2
{
    padding: 2%;
}
#footerPrincipal
{
    background-image: linear-gradient(green, white);
}
#footerSegundario
{
    background-image: linear-gradient(rgb(51, 153, 255), white);
}
